*{
  box-sizing: border-box;
}
body {
  margin: 0px;
  max-width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.nav {
  /* border: 3px solid red; */
  height: 91px;
  background-color: #21222a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.brand {
  padding: 0px 20px;
}
.brand > img {
  width: 30px;
  /* border: 3px solid red; */

  /* margin-right: 0px; */
}
.brand > h1 {
  width: 122.39px;
  height: 22.25px;

  font-size: 22.2535px;
  line-height: 27px;

  color: #61dafb;
  /* border: 3px solid red; */
  /* margin-left: 0px; */
}
.nav > h3 {
  margin-left: 340px;
  width: 259px;
  height: 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  /* border: 3px solid red; */
  color: #deebf8;
}
.brand {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.section2 {
  margin-top: auto;
  margin-bottom: auto;
  padding: 45px 0px 0px 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100vh;
  /* border: 1px solid red; */
}
.section2 > h1 {
  width: 424px;
  height: 41px;
  font-size: 39.06px;
  line-height: 47px;
  color: #ffffff;
  /* border: 1px solid red; */
}

ul > li {
  width: 390px;
  height: 17.81px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: left;
}
.list-items {
  margin-left: 35px;
  /* border: 1px solid red; */
  display: flex;
}
.image-list > img {
  width: 10px;
}
.list > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 5px;
  height: 130px;
  list-style: none;
  /* border: 1px solid red; */
}

.image-list {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  padding: 0px 3px;
}
.vector {
  width: 263px;
  height: 263px;
  /* border: 2px solid red; */
  /* margin-left: 87%; */
}
.vector-comp {
  /* border: 2px solid red; */
  width: 263px;
  height: 263px;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-right: -68px; */
  /* margin-left: 86%; */
}
.section0 {
  background: #282d35;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
